:root {
    --vermelho:#E50914;
    --preto:#141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* elementos base */
body {
    background: var(--preto);
    font-family: Helvetica,Arial,sans-serif;
    color: white;
}

header .container {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: start;
}

header {
    position: fixed;
    width: 100%;
    
}

.logo-netflix {
    margin-right: 2%;
    cursor: pointer;
}

header nav a {
    text-decoration: none;
    color: #FFF;
    margin-right: 10px;
    font-size: 13px;
    font-weight: bold;
}

header nav a:hover {
    color: #AAA;
    transition: 0.3s;
}

/* filem principal */

.serie-capa {
    font-size: 20px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)) ,url('/img/breaking-bad.jpg');

    width: auto;
    height: 850px;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

header .container{
    margin-left: 3%;
}

.serie-capa .container{
    margin: 2.8%;
}

.serie-capa .sinopse {
    margin-top: 10px;
    margin-bottom: 20px;
}

.titulo {
    margin-top: 45%;
    font-size: 50px;
    margin-bottom: 10px;
}

.botao-assistir{
    background-color: #ffffff;
    border: none;
    color: #000000;
    padding: 15px;
    margin-right: 10px;
    border-radius: 4px;
    font-size: 1.6rem;
    font-weight: bold;
    cursor: pointer;
    padding-left: 5%;
    padding-right: 5%;
}

.botao-info {
    background-color: rgba(89, 87, 98, 0.836);
    border: none;
    color: white;
    padding: 15px;
    border-radius: 4px;
    font-size: 1.6rem;
    font-weight: bold;
    cursor: pointer;
    padding-left: 5%;
    padding-right: 5%;
}

.botao-assistir:hover {
    background-color: rgb(189, 189, 189);
}

.botao-info:hover {
    background-color: rgba(89, 87, 98, 0.575);
}

i {
    margin-right: 10px;
}

/* Carrosel */

.carrosel-series{
    margin-left: 2.8%;
}

div h2{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 26px;
}
.box-filme{
    height: 100%;
    width: 100%;
    display: block;
    border-radius: 4px;
}